body {
  margin: 0;
}

.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}

.desktop-1 {
  background: #39312a;
  height: 3433px;
  position: relative;
}

.moon-yellow {
  background: #e2b056;
  border-radius: 50%;
  width: 256px;
  height: 256px;
  position: absolute;
  /* left: 999.68px;*/
  right: 10%;
  top: 211.28px;
  transform-origin: 0 0;
  transform: rotate(-26.5deg) scale(1, 1);
}

.moon-dark {
  background: #39312a;
  border-radius: 50%;
  width: 236px;
  height: 242px;
  position: absolute;
  /*left: 1078.44px;*/
  right: 6%;
  top: 165.3px;
  transform-origin: 0 0;
  transform: rotate(-26.5deg) scale(1, 1);
}

.nicha {
  color: #e0d1ba;
  text-align: center;
  font: 800 206px 'League Spartan', sans-serif;
  position: absolute;
  left: calc(50% - 291px);
  top: 322px;
  width: 582px;
  height: 157px;
}

.logo {
  background: #d9d9d9;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 29px;
  top: 15px;
}

.blurb-2 {
  color: #7e766a;
  text-align: center;
  font: 400 30px 'League Spartan', sans-serif;
  position: absolute;
  left: calc(50% - 406px);
  top: 490px;
  width: 812px;
}

.gallery {
  color: #7e766a;
  text-align: center;
  font: 400 30px 'League Spartan', sans-serif;
  position: absolute;
  top: 28px;
  right: 28px;
  /* Adjust the right value as needed */
  width: 122px;
  height: 21px;
}

.about {
  color: #7e766a;
  text-align: center;
  font: 400 30px 'League Spartan', sans-serif;
  position: absolute;
  top: 28px;
  right: 190px;
  /* Adjust the right value as needed */
  width: 122px;
  height: 21px;
}


.beige-div {
  background: #bb9b77;
  width: 100%;
  height: 664px;
  position: absolute;
  top: calc(50% - 911.5px);
}


.project-2 {
  background: #e0d1ba;
  border-radius: 35px;
  width: 786px;
  height: 458px;
  margin-left: auto; /* Push project-2 to the right */
  margin-top: 112px; /* Add spacing between project-1 and project-2 */
  margin-right: 120px;
}

.project-1 {
  background: #e0d1ba;
  border-radius: 35px;
  width: 786px;
  height: 458px;
  margin-right: auto; /* Push project-1 to the left */
  margin-top: 112px; /* Add spacing between project-1 and project-2 */
  margin-left: 120px;
  margin-bottom: -90px;

}

.project-container {
  display: flex;
  flex-direction: column; /* Display items in a column layout */
  position: absolute;
  top: 1500px;
  width:100%;
}


.about2 {
  color: #39312a;
  text-align: left;
  font: 800 190px 'League Spartan', sans-serif;
  position: absolute;
  left:65%;
  /* Horizontally center the element */
  transform: translateX(-50%);
  /* Adjust for element width */
  top: 1013px;
  width: 1039px;
  height: 84px;
}

.triangles2{
  top:100px;
  position:absolute;
}

.blurb {
  color: #39312a;
  text-align: left;
  font: 400 36px 'League Spartan', sans-serif;
  position: absolute;
  left: 65%;
  transform: translateX(-50%);
  top: 1236px;
  width: 1044px;
  height: 84px;
}

.snake-body {
  background: #bb9b77;
  border-radius: 68px 0 0 68px;
  width: calc(100% - 1113px); /* Adjust the width as needed */
  max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
  height: 138px;
  position: absolute;
  left: 1113px; /* Keep the left position as needed */
  top: 1580px;
}


.snakebase-tongue {
  background: #bb9b77;
  border-radius: 68px;
  width: 65px;
  height: 19px;
  position: absolute;
  left: 1059px;
  top: 1643px;
}

.snaket-tongue {
  background: #bb9b77;
  border-radius: 68px;
  width: 38.07px;
  height: 17.57px;
  position: absolute;
  left: 1041.96px;
  top: 1626px;
  transform-origin: 0 0;
  transform: rotate(30.641deg) scale(1, 1);
}

.snakeb-tongue {
  background: #bb9b77;
  border-radius: 68px;
  width: 38.07px;
  height: 17.57px;
  position: absolute;
  left: 1075.36px;
  top: 1658.36px;
  transform-origin: 0 0;
  transform: rotate(139.511deg) scale(1, 1);
}

.snake-eye {
  background: #39312a;
  border-radius: 42px;
  width: 38px;
  height: 34px;
  position: absolute;
  left: 1170px;
  top: 1633px;
}

.snake {
  top:144px;
  position:relative;
}

.btn-holder {
  background: #e0d1ba;
  border-radius: 35px;
  width: 90%;
  height: 114px;
  display: flex;
  left: 5%;
  justify-content: space-evenly;
  position: absolute;
  top: 854px;
}

.frame-1 {
  width: 1092px;
  height: 83px;
  position: absolute;
  left: 154px;
  top: 869px;
}

.button {
  background: #39312a;
  border-radius: 23px;
  width: 138px;
  height: 83px;
  margin-top: 15px;
}

.l-brown-triangle-2 {
  border-radius: 0px;
  position: absolute;
  left: 176.85px;
  top: 1197.14px;
  transform: translate(68.91px, -59.86px);
  overflow: visible;
}

.l-brown-triangle {
  border-radius: 0px;
  position: absolute;
  left: 272.14px;
  top: 1092.97px;
  transform: translate(16.5px, -3.11px);
  overflow: visible;
}

.brown-triangle-2 {
  border-radius: 0px;
  position: absolute;
  left: 136.92000000000002px; 
  top: 1101.8px; 
  transform: translate(21px, 9.76px);
  overflow: visible;
}


.brown-diamond {
  border-radius: 0px;
  position: absolute;
  left: 298.72px;
  top: 1308.13px;
  transform: translate(-157.8px, -169.44px);
  overflow: visible;
}

.beige-triangle {
  border-radius: 0px;
  position: absolute;
  left: 281.88px;
  top: 2073.38px;
  transform: translate(-85.01px, 62.44px);
  overflow: visible;
}

.brown-triangle {
  border-radius: 0px;
  position: absolute;
  left: 171.59px;
  top: 2400.83px;
  transform: translate(-72.14px, -290.42px);
  overflow: visible;
}

.green-gem {
  border-radius: 0px;
  position: absolute;
  right: 281.88px;
  top: 2765px;
  overflow: visible;
}

.footer {
  background: #282523;
  width: 100%;
  height: 210px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.github {
  color: #e0d1ba;
  text-align: center;
  font: 400 25px 'League Spartan', sans-serif;
  position: absolute;
  left: calc(50% - 262px);
  top: 3294px;
  width: 118px;
}

.email {
  color: #e0d1ba;
  text-align: center;
  font: 400 25px 'League Spartan', sans-serif;
  position: absolute;
  left: calc(50% - -8px);
  top: 3294px;
  width: 117px;
}

.resume {
  color: #e0d1ba;
  text-align: center;
  font: 400 25px 'League Spartan', sans-serif;
  position: absolute;
  left: calc(50% - -145px);
  top: 3294px;
  width: 118px;
}

.linkedin {
  color: #e0d1ba;
  text-align: center;
  font: 400 25px 'League Spartan', sans-serif;
  position: absolute;
  left: calc(50% - 124px);
  top: 3294px;
  width: 117px;
}

.cc {
  color: #e0d1ba;
  text-align: center;
  font: 400 25px 'League Spartan', sans-serif;
  position: absolute;
  left: calc(50% - 236px);
  top: 3355px;
  width: 471px;
}