html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #39312A;
  }

.container {
    display: grid;
    height:100%;
    width:100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 7% 30% 35% 10% auto ;
}

/*.col {
    grid-column:span 1;
    border:1px solid black;
}*/

.item {
    background-color: #BB9B77;
    grid-area: 4 / 1 / 6 / 14;

}